.recipe-card {
  display: flex;
  flex-direction: row;

  border-bottom: 2px solid #c5c5c5;

  width: auto;
  padding-bottom: 20px;
  margin-bottom: 40px;
  background-color: white;
}

.recipe-card:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.recipe-container-left {
  display: flex;
  justify-content: left;
}
.recipe-image {
  width: 250px;
}

.recipe-container-right {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipe-right-upper {
  display: flex;
  flex-direction: column;
}
.recipe-right-lower {
  display: flex;
  flex-flow: row-reverse;
  gap: 1.5rem;
}

.recipe-link {
  text-decoration: none;
  color: inherit;
}
.recipe-name {
  margin: 0;
  margin-bottom: 15px;
  color: var(--accent-color);
  font-size: 1.5rem;
}
.recipe-ingredient-header {
  margin: 0;
}
.recipe-ingredient-list {
  padding: 0;
  font-weight: 700;
  color: var(--font-text-color);
  height: 115px;
  overflow: auto;
}
.recipe-ingredient-item {
  list-style: none;
}

.recipe-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.recipe-icon {
  height: 24px;
  width: 24px;
  left: -30px;
  color: var(--accent-color);
}

@media only screen and (max-width: 480px) {
  .recipe-card {
    flex-direction: column;
  }
  .recipe-container-left {
    justify-content: center;
  }
  .recipe-image {
    width: 100%;
  }
  .recipe-container-right {
    padding-left: 0;
   ;
  }
}