.header-container {
    max-width: fit-content;
    text-align: center;
}
.header-title {
    color: var(--accent-color);
    font-size: 2.3rem;
}
.header-para {
    color: var(--font-text-color);
    font-size: 1.1rem;
    margin-bottom: 60px;
}

@media only screen and (max-width: 480px) {
    .header-container {
        padding: 0 40px;
    }
    .header-title {
        font-size: 2rem;
    }
  }