@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto&display=swap");

/* INPUT */

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px 70px 50px 70px;
  font-family: "Roboto", sans-serif;

  min-height: auto;
  width: auto;
  background-color: white;
  align-items: left;
}
.input-header {
  display: flex;
  position: relative;
  align-items: center;
  
}
.input-header-text{
  margin: 0px;
  font-size: 1.3rem;

}
.input-form {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  margin-top: 25px;
}

.input-box {
  width: 100%;
  font-weight: 200;
  color: #666;
  padding: 13px;
  font-size: 1.1rem;
  border: 1px solid #CCCBC8;
  transition: 0.4s;
  outline: none;
}
.input-box::placeholder {
    font-style: italic;
}
.input-box:focus {
    box-shadow: 0 0 1px 3px #d0acff;
    border: 1px solid var(--accent-color);

}


.magnifying-glass-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 13px;
  color: var(--accent-color);
}
.input-arrow {
  height: 24px;
  width: 24px;
  position: absolute;
  left: -30px;
  color: var(--accent-color);
}
.shopping-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: -30px;
  color: var(--accent-color);
}
.input-para {
   color: #666;
   font-size: 1.1rem;
   width: 100%;
}
