.results-container{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    background-color: white;
    padding: 30px 0 ;
    margin-top: 5px;
    margin-bottom: 5px;
}
.results-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-left: 15px;
    padding: 8px 16px;
    gap: 0.7rem;
    border-radius: 25px;
    border: 3px solid var(--accent-color);
    background-color: white;
    transition: 0.4s;

}
.results-button:hover{
    box-shadow: 0 0 1px 3px #d0acff;
}

.button-icon{
    height: 24px;
    width: 24px;
    color: var(--accent-color);
    cursor: pointer;

}
.button-query{
    margin: 0;
    color: var(--accent-color);
    font-weight: 600;
    font-size: 1rem;
}
.button-query::first-letter{
    text-transform: capitalize;

}
.results-for-text{
    margin: 0;
    font-weight: 600; 
    font-size: 1.1rem;
}