@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto&display=swap");

/* INPUT */

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px 30px 30px 70px;
  font-family: "Roboto", sans-serif;

  min-height: 300px;
  max-width: 1000px;
  background-color: white;
}
.input-header {
  display: flex;
  position: relative;
  align-items: center;
}
.input-form {
  display: flex;
  position: relative;
  width: 400px;
  align-items: center;
}

.input-box {
  width: 100%;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  padding: 13px;
  font-size: 1rem;
}


.magnifying-glass-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 13px;
  color: var(--accent-color);
}
.input-arrow {
  height: 24px;
  width: 24px;
  position: absolute;
  left: -30px;
  color: var(--accent-color);
}
.shopping-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: -30px;
  color: var(--accent-color);
}
