@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto&display=swap");

/* INPUT */

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px 30px 50px 70px;
  font-family: "Roboto", sans-serif;

  min-height: auto;
  width: 400px;
  background-color: white;
}
.input-header {
  display: flex;
  position: relative;
  align-items: center;
}
.input-form {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.input-box {
  width: 100%;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  padding: 13px;
  font-size: 1rem;
  border: 1px solid #CCCBC8;
  transition: 0.5s;
  outline: none;

}
.input-box:focus {
    box-shadow: 0 0 3px 3px #d0acff;
    border: 1px solid var(--accent-color);

}


.magnifying-glass-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 13px;
  color: var(--accent-color);
}
.input-arrow {
  height: 24px;
  width: 24px;
  position: absolute;
  left: -30px;
  color: var(--accent-color);
}
.shopping-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: -30px;
  color: var(--accent-color);
}
.input-para {
   color: #666;
}
