/* INPUT */


.input-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 50px;

   min-height: 300px;
   max-width: 1000px;
   background-color: aqua;
}
.input-form{
    display: flex;
    position: relative;
    width: 400px;
    align-items: center;
}

.input-box {
    width: 100%;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    padding: 10px;
   
}
.magnifying-glass-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
}
.input-arrow{
    height: 20px;
    width: 20px; 
    position: absolute;
    left: -25px;

  
}