@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto&display=swap");

body {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

:root {
  --accent-color: #732ad8;
  --font-text-color: #666;
}

.App-wrapper {
  height: 100%;
  max-width: 1000px;
}
.App-banner {
  padding: 50px 15px 15px 15px;
  background-color: #DAD8D3;
  border-radius: 5px;
  width: fit-content;
}
.results-recipe-container {
  width: auto;
  background-color: white;
  padding: 0 40px;
}
.App {
  background-color: white;
  padding: 150px 200px 100px 200px;
}
