body{
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}

:root {
  --accent-color: #732AD8;
}

.App {
  text-align: center;
  height: 100%;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


